.images{
    display: flex;
    justify-content: center;
    width: 1000px;
    flex-wrap: wrap;
    margin: auto;
  }
  .images img{
    width: 300px;
    height: 340px;
    border-radius: 17px;
    margin: 11px;
  }