
<!-- <app-multi-select></app-multi-select> -->
 <!-- <app-select/> -->

 <!-- <app-highcharts /> -->
  <!-- <app-d3charts /> -->

  <!-- <app-d3charts-ag /> -->

  <!-- <app-text-editor /> -->
  <!-- <app-texteditor-quill/> -->

  <!-- <app-quill /> -->

  <!-- <app-kolkov-editor /> -->

  <!-- <app-date-picker /> -->


<!-- <app-toaster /> -->

<app-ngx-sooner />
<!-- <app-tooltipchart /> -->

<!-- <app-table /> -->

<!-- <app-full-calendar /> -->

<!-- <app-infinite-scroll /> -->

<!-- <app-infinite-image /> -->

<!-- <app-infinte-table /> -->

<!-- <app-image-list2 /> -->

<app-donut-chart />

<!-- <app-full-calendar2 /> -->

<!-- <app-d3-tooltip /> -->

