.donut-chart {
    width: 100%;  
    height: auto;
  }

  .tooltip {
    position: absolute;
    visibility: hidden;
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    font-size: 12px;
  }